.navBar{
    height:180px ;
    position: relative;
    object-fit: contain;
    background-color: black;
}
.navLogo{
    float: left;
    width: 150px;
    object-fit: contain;
    padding-left: 2%;
    cursor: pointer;
    padding-top: 30px;
}
.List{
    display: inline-flex;
    gap: 55px;
    color: white;
    padding-top: 75px;
    cursor: pointer;
}
.List a{
    color:white;
}
.l1 a:hover{
    color: red;
    transition:color 0.2s ease-in-out
}
.l2 a:hover{
    color: red;
    transition:color 0.2s ease-in-out
}
.l3 a:hover{
    color: red;
    transition:color 0.2s ease-in-out
}
.l4 a:hover{
    color: red;
    transition:color 0.2s ease-in-out
}
.l5 a:hover{
    color: red;
    transition:color 0.2s ease-in-out
}
.l6 a:hover{
    color: red;
    transition:color 0.2s ease-in-out
}
.l7 a:hover{
    color: red;
    transition:color 0.2s ease-in-out
}
.l8 a:hover{
    color: red;
    transition:color 0.2s ease-in-out
}
.l9 a:hover{
    color: red;
    transition:color 0.2s ease-in-out;
}